<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="container-login">
            <div class="wrap-login">
                <form class="login-form">
                    <span class="login-form-title">
                        Faça o login
                    </span>

                    <div class="wrap-input margin-top-35 margin-bottom-35">
                        <input class="input-form" type="text" name="email" autocomplete="off">
                        <span class="focus-input-form" data-placeholder="Matrícula"></span>
                    </div>

                    <div class="wrap-input margin-bottom-35">
                        <input class="input-form" type="password" name="password">
                        <span class="focus-input-form" data-placeholder="Senha"></span>
                    </div>

                    <div class="container-login-form-btn">
                        <input type="submit" onclick="alerta()" class="login-form-btn" value="Login" name="login"></input>
                    </div>

                    <ul class="login-utils">
                        <li>
                            <span class="text1">
                                Não tem conta?
                            </span>
                            <a href="pagina_cadastro.html" class="text2">
                                Criar
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
            <img src="/static/image/login_image.png" alt="Login" width="400" height="400" class="margin-left-50" />
        </div>
    </div>

    <script>
        let inputs = document.getElementsByClassName("input-form");
        for (let input of inputs) {
            input.addEventListener("blur", function () {
                if (input.value.trim() != "") {
                    input.classList.add("has-val")
                } else {
                    input.classList.remove("has-val")
                }
            });
        }

        function alerta(){
            alert('Bem vindo!')
        }
    </script>

</body>

</html>