<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página inicial</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/pagina_inicial_style.css')}}">
</head>

<body>
    <div class="container">

        <div class="container-login">
            <div class="wrap-login">
                <form class="login-form">
                    <span class="login-form-title">
                        Seja bem-vindo(a)
                    </span>

                    <br></br>

                    <div class="container-login-form-btn">
                        <a href="pagina_cadastro_livro.html" class="login-form-btn">
                            Cadastrar livros
                        </a>
                    </div>
                    <br></br>
                    <div class="container-login-form-btn">
                        <a href="pagina_reserva_livro.html" class="login-form-btn">
                            Reservar
                        </a>
                    </div>
                    <br></br>
                    <div class="container-login-form-btn">
                        <a href="pagina_cadastro.html" class="login-form-btn">
                            Ver livros cadastrados
                        </a>
                    </div>

                </form>
            </div>
            <img src="/static/image/login_image.png" alt="Login" width="400" height="400" class="margin-left-50" />
        </div>
    </div>

</body>

</html>